<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, contacto-scale=1.0">-->
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <!--<link rel="stylesheet" href="../css/contacto.css">-->
    <title>TRANSPORTES AISAF - PRODUCTOS</title>
    
</head>
<body>
    <div id="inicio_pagina"></div>
    <header>
       <nav id="barranav">
            <div id="barlogo">
                <a href="../index.html"><img alt="Transporte AISAF" src="../imagenes/1.png"></a>
            </div>
            <div id="menu">
               <ul id="listmenu">
                 <li>  <a  href="../index.html">Inicio</a></li>
                 <li><a  href="../views/productos.html">Productos</a></li>
                    <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                    <li><a class="active"href="#">Contacto</a></li>
                </ul>     
            </div>
            <div id="redessociales">
                <a href="#"><img alt="FaceBoock" src="../imagenes/fb0.jpeg"></a>
                <a href="#"><img alt="Twitter" src="../imagenes/tw0.jpeg"></a>
                <a href="#"><img alt="Instagram" src="../imagenes/It0.jpeg"></a>
                <a href="#"><img alt="whatsApp" src="../imagenes/wa0.jpeg"></a>
            </div>
        </nav>  
    </header>
    <section id="Banner">
        <div id="slider-box">
            <ul>
                <li>
                    <img src="../imagenes/tr.png" alt="servicios a nivel local y naciona">
                    <div class="Bannertext">
                    <h2>servicios a nivel local y naciona</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Ut architecto voluptatibus culpa soluta odio consequatur
                        beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
                <li>
                    <img src="../imagenes/tr6.jpg" alt="envios rapidos y eficaces">
                    <div class="Bannertext">
                        <h2>envios rapidos y eficaces</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
                <li>
                    <img src="../imagenes/tr7.jpg" alt="entregas seguras y garantizadas">
                    <div class="Bannertext">
                        <h2>entregas seguras y garantizadas</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>  

                <li>
                    <img src="../imagenes/tr9.jpg" alt="Gestion de logistica inversa">
                    <div class="Bannertext">
                        <h2>Gestion de logistica inversa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
<section id="datos-empresa">
    <div>
        <img src="../imagenes/direccion.png" alt="direccion">
        <h2>Direccion</h2>
       <p>Av. de las Canteras 52-89 28340 </p>
       <p>Valdemoro, Madrid</p>
    </div>

    <div>
        <img src="../imagenes/call.png" alt="telefono">
        <h2>telefono</h2>
       <p>(+34)64789..... </p>
       <p>(+34)64654.....</p>
       <p>(+34)64321.....</p>
    </div>
    <div>
        <img src="../imagenes/email.png" alt="correo">
        <h2>correo</h2>
       <p>info@aisaf.com</p>
    </div>
    <div>
        <img src="../imagenes/calendario.png" alt="correo">
        <h2>horario de atencion</h2>
       <p>Lun-Vie: 08:00 am - 06:00 pm</p>
       <p>Sat: 09:00 am - 02:00 pm</p>
    </div>
</section>
<div id="btninicio">
    <a href="#inicio_pagina">
        <img src="../imagenes/btnup.png" alt="btninicio">
    </a>
</div>
<section id="obtner-cotizacion">
    
    <div id="text-cotiz">
        <h2><span id="in">Contactenos</span> mas informacion...!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem consequatur, 
           pariatur esse eos repellat voluptate sed quaerat. Porro cupiditate obcaecati 
           animi itaque accusantium eum, accusamus magni inventore ad eveniet culpa.</p>
    </div>
    <div id="form-maps">
        <div id="formulario" class="container">
            <form action="#" id="myform" name="myform" method="get" target="_self">
                <ul class="flex-outer">
                    <li>
                        <label for="full-name">nombre</label>
                        <input type="text" id="full-name" name="full-name" placeholder="Ingrese su nombre"
                        pattern="[A-Z a-z]{3,15}" title="Ingrese solo letras entre 3 y 15 caracteres" required>
                    </li>
                    <li>
                        <label for="email">Correo Electronico</label>
                        <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico"
                        pattern="[A-Za-z0-9_-.]+@[a-z0-9_-.]+\.[a-z]{2,4}" title="Ingrese su correo electrónico" required>
                    </li>
                    <li>
                        <label for="telefono">telefono</label>
                        <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su telefono movil"
                        pattern="[0-9]{9}" title="Ingrese sus 9 digitos de su telefono movil" required>
                    </li>
                    <li>
                        <label for="message">Mensaje</label>
                        <textarea rows="6" id="message" placeholder="Escriba su mensaje"></textarea>
                    </li>
                    <li>
                        <p>Edad</p>
                        <ul class="flex-inner">
                            <li>
                                <input type="radio" id="veinte-veintinueve" name="age-option" value="20-29">
                                <label for="veinte-veintinueve">20-29</label>
                            </li>
                            <li>
                                <input type="radio" id="treinta-terintaynueve" name="age-option" value="30-39">
                                <label for="treinta-terintaynueve">30-39</label>
                            </li>
                            <li>
                                <input type="radio" id="cuarenta-cuarentaynueve" name="age-option" value="40-49">
                                <label for="cuarenta-cuarentaynueve">40-49</label>
                            </li>
                            <li>
                                <input type="radio" id="cincuenta-cincuentaynueve" name="age-option" value="50-59">
                                <label for="cincuenta-cincuentaynueve">50-59</label>
                            </li>
                            <li>
                                <input type="radio" id="otros" name="age-option" value="otros">
                                <label for="otros">Otros</label>
                            </li>
                        </ul>
                    </li>
                    <li class="listbtn">
                        <button type="reset">Borrar</button>
                        <button type="submit">Enviar</button>
                    </li>
                </ul>
            </form>

        </div>
    
            <div id="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d190.5441445831738!2d-3.660516425496633!3d40.17109216372222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1722783422211!5m2!1ses!2ses" 
                        width="600" 
                        height="450" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>

            </div>
    </div>
</section>
    
    
    <section id="decisioncorrecta">
        <div>
            <h2>Descrubra que estamos al alcance de su<span> presupuesto </span></h2> 
            
        </div>
        <div id="llamaahora">
            <a href="#"><P>¡llamanos ahora!</P></a>
            
        </div>
    </section>
    <footer>
        <div id="barlogo">
            <a href="../index.html"><img alt="Transporte AISAF" src="../imagenes/3.png"></a>
        </div>
        <div>
            <p>Transportes AISAF</p><P>© 2024 Todos los derechos reservados </P>
        </div>
        <div id="redessociales">
            <a href="#"><img alt="FaceBoock" src="../imagenes/fb0.jpeg"></a>
            <a href="#"><img alt="Twitter" src="../imagenes/tw0.jpeg"></a>
            <a href="#"><img alt="Instagram" src="../imagenes/It0.jpeg"></a>
            <a href="#"><img alt="whatsApp" src="../imagenes/wa0.jpeg"></a>
        </div>
    </footer>
</body>
</html>