<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <!--<link rel="stylesheet" href="../css/contacto.css">-->
    <title>TRANSPORTES AISAF - PRESUPUESTO</title>
    
</head>
<body>
    <div id="inicio_pagina"></div>
    <header>
       <nav id="barranav">
            <div id="barlogo1">
                <a href="../index.html"><img alt="Transporte AISAF" src="../imagenes/1.png" width="454" height="239"></a>
            </div>
            <div id="menu">
               <ul id="listmenu">
                 <li>  <a  href="../index.html">Inicio</a></li>
                 <li><a  href="../views/productos.html">Productos</a></li>
                    <li><a class="active" href="#">Presupuesto</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>     
            </div>
            <div id="redessociales1">
                <a href="https://www.facebook.com/?locale=es_ES"><img alt="FaceBoock" src="../imagenes/fb0.jpeg" width="980" height="980"></a>
                <a href="https://x.com/?lang=es"><img alt="Twitter" src="../imagenes/tw0.jpeg"  width="512" height="512"></a>
                <a href="https://www.instagram.com/"><img alt="Instagram" src="../imagenes/It0.jpeg" width="1000" height="1000"></a>
                <a href="https://web.whatsapp.com/"><img alt="whatsApp" src="../imagenes/wa0.jpeg" width="900" height="935"></a>
            </div>
        </nav>  
    </header>
    <main>
    <section id="Banner">
        <div id="slider-box">
            <ul>
                <li>
                    <img src="../imagenes/tr.png" alt="servicios a nivel local y naciona" width="1200" height="720">
                    <div class="Bannertext">
                    <h2>servicios a nivel local y naciona</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Ut architecto voluptatibus culpa soluta odio consequatur
                        beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
                <li>
                    <img src="../imagenes/tr6.jpg" alt="envios rapidos y eficaces" width="1170" height="719">
                    <div class="Bannertext">
                        <h2>envios rapidos y eficaces</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
                <li>
                    <img src="../imagenes/tr7.jpg" alt="entregas seguras y garantizadas" width="3840" height="2269">
                    <div class="Bannertext">
                        <h2>entregas seguras y garantizadas</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>  

                <li>
                    <img src="../imagenes/tr9.jpg" alt="Gestion de logistica inversa" width="2560" height="1707">
                    <div class="Bannertext">
                        <h2>Gestion de logistica inversa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
<section id="datos-empresa">
    <div>
        <img src="../imagenes/direccion.png" alt="direccion" width="64" height="64">
        <h2>Direccion</h2>
       <p>Av. de las Canteras 52-89 28340 </p>
       <p>Valdemoro, Madrid</p>
    </div>

    <div>
        <img src="../imagenes/call.png" alt="telefono" width="64" height="64">
        <h2>telefono</h2>
       <p>(+34)64789..... </p>
       <p>(+34)64654.....</p>
       <p>(+34)64321.....</p>
    </div>
    <div>
        <img src="../imagenes/email.png" alt="correo" width="64" height="64">
        <h2>correo</h2>
       <p>info@aisaf.com</p>
    </div>
    <div>
        <img src="../imagenes/calendario.png" alt="correo" width="64" height="64">
        <h2>horario de atencion</h2>
       <p>Lun-Vie: 08:00 am - 06:00 pm</p>
       <p>Sat: 09:00 am - 02:00 pm</p>
    </div>
</section>
<div id="btninicio">
    <a href="#inicio_pagina">
        <img src="../imagenes/btnup.png" alt="btninicio" width="64" height="64">
    </a>
</div>
<section id="obtner-cotizacion">
    
    <div id="text-cotiz">
        <h2><span id="in">obtenga</span> presupuesto, cotizaciones y mucho más...!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem consequatur, 
           pariatur esse eos repellat voluptate sed quaerat. Porro cupiditate obcaecati 
           animi itaque accusantium eum, accusamus magni inventore ad eveniet culpa.</p>
    </div>
    <div id="form-maps">
        <div id="formulario" class="container">
            <form action="#" id="myform" name="myform" method="get" target="_self">
                <ul class="flex-outer">
                    <li>
                        <label for="full-name">nombre</label>
                        <input type="text" id="full-name" name="full-name" placeholder="Ingrese su nombre"
                        pattern="[A-Z a-z]{3,15}" title="Ingrese solo letras entre 3 y 15 caracteres" required>
                    </li>
                    <li>
                        <label for="email">Correo Electronico</label>
                        <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico"
                        pattern="[A-Za-z0-9_-.]+@[a-z0-9_-.]+\.[a-z]{2,4}" title="Ingrese su correo electrónico" required>
                    </li>
                    <li>
                        <label for="telefono">telefono</label>
                        <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su telefono movil"
                        pattern="[0-9]{9}" title="Ingrese sus 9 digitos de su telefono movil" required>
                    </li>
                    <li>
                        <label for="masinfo">Solicite mas informacion</label>
                        <textarea rows="6" id="masinfo" placeholder="Escriba su mensaje"></textarea>
                    </li>
                    <li class="privacidad">
                        <ul class="flex-innner">
                            <li>
                                <input type="checkbox" id="privacidad" name="privacidad" value="privacidad" required>
                                <label for="privacidad">aceptar las politicas de privacidad</label>
                            </li>
                        </ul>
                    </li>
                    <li class="listbtn">
                        <button type="reset">Borrar</button>
                        <button type="submit">Enviar</button>
                    </li>
                </ul>
            </form>

        </div>
    
            <div id="imgform">
                <img src="../imagenes/tr.png" alt="transporte presupuesto" width="1200" height="720">

            </div>
    </div>
</section>
    
    
    <section id="decisioncorrecta">
        <div>
            <h2>Descrubra que estamos al alcance de su<span> presupuesto </span></h2> 
            
        </div>
        <div id="llamaahora2">
            <a href="#"><P>¡llamanos ahora!</P></a>
            
        </div>
    </section>
</main>
    <footer>
        <div id="barlogo2">
            <a href="../index.html"><img alt="Transporte AISAF" src="../imagenes/3.png" width="270" height="217"></a>
        </div>
        <div>
            <p>Transportes AISAF</p><P>© 2024 Todos los derechos reservados </P>
        </div>
        <div id="redessociales2">
            <a href="https://www.facebook.com/?locale=es_ES"><img alt="FaceBoock" src="../imagenes/fb0.jpeg" width="980" height="980"></a>
                <a href="https://x.com/?lang=es"><img alt="Twitter" src="../imagenes/tw0.jpeg"  width="512" height="512"></a>
                <a href="https://www.instagram.com/"><img alt="Instagram" src="../imagenes/It0.jpeg" width="1000" height="1000"></a>
                <a href="https://web.whatsapp.com/"><img alt="whatsApp" src="../imagenes/wa0.jpeg" width="900" height="935"></a>
        </div>
    </footer>
</body>
</html>