<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <!--<link rel="stylesheet" href="../css/productos.css">-->
    <title>TRANSPORTES AISAF - PRODUCTOS</title>
    
</head>
<body>
    <div id="inicio_pagina"></div>
    <header>
       <nav id="barranav">
            <div id="barlogo1">
                <a href="../index.html"><img alt="Transporte AISAF" src="../imagenes/1.png" width="454" height="239"></a>
            </div>
            <div id="menu">
               <ul id="listmenu">
                 <li>  <a  href="../index.html">Inicio</a></li>
                 <li><a class="active" href="#">Productos</a></li>
                    <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>     
            </div>
            <div id="redessociales1">
                <a href="https://www.facebook.com/?locale=es_ES"><img alt="FaceBoock" src="../imagenes/fb0.jpeg" width="980" height="980"></a>
                <a href="https://x.com/?lang=es"><img alt="Twitter" src="../imagenes/tw0.jpeg"  width="512" height="512"></a>
                <a href="https://www.instagram.com/"><img alt="Instagram" src="../imagenes/It0.jpeg" width="1000" height="1000"></a>
                <a href="https://web.whatsapp.com/"><img alt="whatsApp" src="../imagenes/wa0.jpeg" width="900" height="935"></a>
            </div>
        </nav>  
    </header>
    <main>
    <section id="Banner">
        <div id="slider-box">
            <ul>
                <li>
                    <img src="../imagenes/tr.png" alt="servicios a nivel local y naciona" width="1200" height="720">
                    <div class="Bannertext">
                    <h2>servicios a nivel local y naciona</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Ut architecto voluptatibus culpa soluta odio consequatur
                        beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
                <li>
                    <img src="../imagenes/tr6.jpg" alt="envios rapidos y eficaces" width="1170" height="719">
                    <div class="Bannertext">
                        <h2>envios rapidos y eficaces</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
                <li>
                    <img src="../imagenes/tr7.jpg" alt="entregas seguras y garantizadas" width="3840" height="2269">
                    <div class="Bannertext">
                        <h2>entregas seguras y garantizadas</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>  

                <li>
                    <img src="../imagenes/tr9.jpg" alt="Gestion de logistica inversa" width="2560" height="1707">
                    <div class="Bannertext">
                        <h2>Gestion de logistica inversa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Ut architecto voluptatibus culpa soluta odio consequatur
                            beatae voluptatem, vitae est error, iure reprehenderit laborum dignissimos. Quae aspernatur magnam at officiis laboriosam.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
<section>
    <div id="nuestros_servicios">   
        <h1>NUESTROS SERVICIOS <span>/ PRODUCTOS </span></h1>
        <P>Compañía de transporte de servicios, que ofrece soluciones de logística en pequeña y gran escala. 
            Nuestro enfoque <span id="ind">INNOVADOR</span> para el envío y la organización de la entrega de carga ayuda a las pequeñas y grandes empresas, 
            haciéndolas más exitosas comercialmente y preparándolas para el futuro en los próximos años.</P>
    </div>
    <div id="tarjetas">
        <div class="container">
            <div class="card">
                <figure>
                    <img src="../imagenes/carga_nacional.jpeg" alt="carga nacional" width="980" height="456">
                </figure>
                <div class="contenido">
                    <h2>carga nacional</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/carga_local.jpeg" alt="carga local" width="600" height="398">
                </figure>
                <div class="contenido">
                    <h2>carga local</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/carga_expres.jpeg" alt="carga expres" width="626" height="417">
                </figure>
                <div class="contenido">
                    <h2>carga expres</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/alamcenaje.jpeg" alt="Almacenaje/Alquiler de espacios" width="1100" height="733">
                </figure>
                <div class="contenido">
                    <h2>Almacenaje / Alquiler de espacios</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="../imagenes/embalaje.jpeg" alt="embalaje y distribucion" width="2000" height="1126">
                </figure>
                <div class="contenido">
                    <h2>embalaje y distribucion</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/seguridad.jpeg" alt="escolta y seguridad" width="720" height="408">
                </figure>
                <div class="contenido">
                    <h2>escolta y seguridad</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/descarga.jpeg" alt="personal de carga y descarga" width="600" height="420">
                </figure>
                <div class="contenido">
                    <h2>personal de carga y descarga</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/envio_controlado.jpg" alt="envio directo y controlado" width="1024" height="683">
                </figure>
                <div class="contenido">
                    <h2>envio directo y controlado</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="../imagenes/envio_punto.jpg" alt="recojo y envio de punto a punto" width="1024" height="628">
                </figure>
                <div class="contenido">
                    <h2>recojo y envio de punto a punto</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/reporte_devolucion.jpeg" alt="reporte de devoluciones" width="1091" height="673">
                </figure>
                <div class="contenido">
                    <h2>reporte de devoluciones</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/seguimiento_gps.jpeg" alt="seguimiento GPS" width="480" height="320">
                </figure>
                <div class="contenido">
                    <h2>seguimiento GPS</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../imagenes/control_seguimiento.jpeg" alt="control y seguimiento de unidades" width="720" height="428">
                </figure>
                <div class="contenido">
                    <h2>control y seguimiento de unidades</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit quia ipsa sunt. Enim qui hic sed quos est iusto ducimus, neque nobis,
                        voluptate perferendis quisquam minima vitae provident quam possimus. </p>
                </div>
            </div>
        </div>
    </div>
</section>
    <div id="btninicio">
        <a href="#inicio_pagina">
            <img src="../imagenes/btnup.png" alt="moveup" width="64" height="64">
        </a>
    </div>
    <section>
        <div id="condiciones_servicio">
            <div>
                    <h2>Condiciones del <span id="in">servicio</span> </h2>
                    <p>Con este servicio puede transportar grandes volúmenes de mercancía a las principales ciudades, 
                        con un tiempo de entrega de 24 a 72 horas.
                    <br>Entregamos en zonas periféricas o remotas, en 48 y 196 horas, según su distancia. Ver zonas establecidas. 
                    Realizamos hasta 3 visitas para entregar efectivamente un envío.</p>
            </div>
            <div>
                <img src="../imagenes/condicion_serv.jpg" alt="Condiciones del servicio" width="1200" height="445">
            </div>
        </div>
    </section>
    <section>
        <div id="Importante">
            <div>
                <img src="../imagenes/importante.jpeg" alt="importante" width="794" height="478">
            </div>
            <div>
                    <h2><span>importante</span> </h2>
                    <p>Es su responsabilidad el correcto embalaje del envío. 
                        Tome en cuenta que su encomienda viajará en camiones con mercancía heterogénea, 
                        hasta su destino final. Los envíos con productos nuevos, deben viajar con su factura fiscal, 
                        pues esta podría ser solicitada para una inspección de las autoridades nacionales o regionales 
                        durante el tránsito hacia su destino.</p>

                       <p> El cliente podrá contratar el Servicio de Protección de Mercancía. 
                        Si decide no hacerlo,ante una perdida o extravío, 
                        garantiza un envío de cortesía como indemnización.</p>

                        <p>En el servicio con modalidad cobro en destino, 
                            en caso de que no se pueda entregar a quien recibe y paga el flete, 
                            el envío será retornado y cobrado a quien envía. 
                            El cliente debe indicar la dirección del destinatario correctamente, 
                            proporcionar un número telefónico y correo electrónico para contactarlo 
                            ante cualquier eventualidad.</p>
            </div>
          
        </div>
    </section>
    <section id="decisioncorrecta">
        <div>
            <h2>Descrubra que estamos al alcance de su<span> presupuesto </span></h2> 
            
        </div>
        <div id="llamaahora2">
            <a href="#"><P>¡llamanos ahora!</P></a>
            
        </div>
    </section>
</main>
    <footer>
        <div id="barlogo2">
            <a href="../index.html"><img alt="Transporte AISAF" src="../imagenes/3.png" width="270" height="217"></a>
        </div>
        <div>
            <p>Transportes AISAF</p><P>© 2024 Todos los derechos reservados </P>
        </div>
        <div id="redessociales2">
                <a href="https://www.facebook.com/?locale=es_ES"><img alt="FaceBoock" src="../imagenes/fb0.jpeg" width="980" height="980"></a>
                <a href="https://x.com/?lang=es"><img alt="Twitter" src="../imagenes/tw0.jpeg"  width="512" height="512"></a>
                <a href="https://www.instagram.com/"><img alt="Instagram" src="../imagenes/It0.jpeg" width="1000" height="1000"></a>
                <a href="https://web.whatsapp.com/"><img alt="whatsApp" src="../imagenes/wa0.jpeg" width="900" height="935"></a>
        </div>
    </footer>
</body>
</html>